extends base
block content
    a(href="logout" class='logout') Logout
    h2 Welcome  #{u.name} to edit your dietplan
    a(href="/editplans/:sunday") Sunday
    br
    a(href='monday ') Monday
    br
    a(href="tuesday") Tuesday
    br
    a(href="wednesday") Wednesday
    br
    a(href="thursday") Thursday
    br
    a(href="friday") Friday
    br
    a(href="saturday") Saturday
    br