extends base
block content
    h2 #{u.name} Add your diet plans
    //- label Days:
    //- select(name="Day" id='myselect' ) Days
    //-     option(value="Select") Select
    //-     option(value="Sunday") Sunday
    //-     option(value="Monday") Monday
    //-     option(value="Tuesday") Tuesday
    //-     option(value="Wednesday") Wednesday
    //-     option(value="Thursday") Thursday
    //-     option(value="Friday") Friday
    //-     option(value="Saturday") Saturday
    //- br
    //- br
    //- h3 Breakfast:
    //- div.breakfast
    //-     button Add Item
    //-     br
    //-     input(type="text" name="item" placeholder='Item')
    //- h3 Lunch:
    //- div.lunch
    //-     button Add Item
    //-     br
    //-     input(type="text" name="item" placeholder='Item')
    //- h3 Dinner:
    //- div.Dinner
    //-     button Add Item  
    //-     br   
    //-     input(type="text" name="item" placeholder='Item')
    //- input(type="submit", value="Submit" class='click')
    //- button(class='send') Send
    form(action="/insertplan", method="post")
        label Day:
        input(type="text", name="day" autocomplete='off')
        br
        br
        h4 Breakfast:
        label Item:
        input(type='text' name='item1' autocomplete='off')
        br
        br
        label Item:
        input(type='text' name='item2' autocomplete='off')
        br
        br
        label Item:
        input(type='text' name='item3' autocomplete='off')
        br
        br
        h4 Lunch:
        label Item:
        input(type='text' name='item4' autocomplete='off')
        br
        br
        label Item:
        input(type='text' name='item5' autocomplete='off')
        br
        br
        label Item:
        input(type='text' name='item6' autocomplete='off')
        br
        br
        h4 Dinner:
        label Item:
        input(type='text' name='item7' autocomplete='off')
        br
        br
        label Item:
        input(type='text' name='item8' autocomplete='off')
        br
        br
        label Item:
        input(type='text' name='item9' autocomplete='off')
        br
        br
        input(type='submit' value='Submit')


   

