extends base
block content
    link(rel="stylesheet", href="index.css" type='text/css')
    h1 Welcome #{u.name} To Diet Planner
    a(href="logout" class='logout') Logout
    div.links
        a(href="insertplan") Insert Plan
        a(href="viewplans") View Plans
        a(href="editplans") Edit Plans
        a(href="deleteplans")  Delete Plans
