extends base
block content
    link(rel="stylesheet", href="index.css" type='text/css')
    a(href="logout" class='logout') Logout
    h1 Welcome to View Plans
    a(href='/viewplans/sunday') Sunday
    br
    a(href='/viewplans/monday ') Monday
    br
    a(href="/viewplans/tuesday") Tuesday
    br
    a(href="/viewplans/wednesday") Wednesday
    br
    a(href="/viewplans/thursday") Thursday
    br
    a(href="/viewplans/friday") Friday
    br
    a(href="/viewplans/saturday") Saturday
    br


    